.container{
    float:inherit;
    width: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    

    .table{
        width: 300px;
        margin: 5px;
    }
    
    .tabla-color{
        background-color: rgb(210, 255, 255);
    }
    .color-letra{
        background-color: bisque;
    }

    
    .borde{
        border: 1px solid #ffffff;
    }
     
    .color-1{
        background-color: #88ff6a;
    }
    .color-2{
        background-color: #f7ff83;
    }
    .color-3{
        background-color: #ff98e7;
    }
    .color-l{
        background-color: #ffa8a8;
    }
    .color-x{
        background-color: #a4c0ff;
    }
}

