/*
Sergio Andres Leguizamo
*/
.fila{
    
    border: 1px solid #ffdd0000;
    height: 60px;
    float: left;
    padding: 0px 0px;
    margin: 0px 0px;
    flex-wrap: nowrap;
    display: flexbox;
}

.elemento{
    border: 1px solid #0000;
    height: 60px;
    float: left;
    padding: 0px 0px;
    margin: 0px 0px;
    flex-wrap: nowrap;
    display: flexbox;
}

.elemento-der{
    border: 1px solid #0000;
    height: 60px;
    float: left;
    padding: 0px 0px;
    margin: 0px 0px;
    flex-wrap: nowrap;
    display: flexbox;
}