
.calculator {
    width: 200px;
    margin: 0 auto;
    text-align: center;
  }
  
  #display {
    background-color: azure;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
  }
  
  .buttons button {
    background-color: khaki;
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 16px;
  }